{% extends "layout.njk" %}

{% block head %}
    <title>DoeAqui - Acesso Negado</title>
{% endblock head %}

{% block content %}
    <link rel="stylesheet" href="/styles/view.css">

    <h1>Acesso Negado</h1>
    <img src="/images/harry_potter_934.gif" alt="Gif Harry Potter 934">
{% endblock content %}