{% extends "layout.njk" %}

{% block head %}
    <title>DoeAqui - Sobre</title>
{% endblock head %}

{% block content %}
    <div class="about">
        <h1>Hístoria</h1>
        <p>
            Em 2022, no Brasil, de acordo com uma pesquisa realizada pela Rede Brasileira de Pesquisa em Soberania e Segurança Alimentar e Nutricional (Rede Pensam), aproximadamente 33,1 milhões de pessoas passam fome. Além disso, ao todo cerca de 125,2 milhões estão situadas em algum grau de insegurança alimentar.
        </p>
        <p>
            O DoeAqui busca auxiliar na localização e gerenciamento do centro de doação mais próximo do usuário. Dessa forma, por meio de uma simples busca, qualquer pessoa poderá encontrar e se dirigir a um centro de doação seja para contribuir, ou para receber auxílio.
        </p>
    </div>
{% endblock content %}