{% extends "layout.njk" %}

{% block head %}
    <title>DoeAqui - Contato</title>
{% endblock head %}

{% block content %}
    <div class="contact">
        <h1>Contato</h1>
         <div class="contact-flex">
            <div>
                <a href="https://www.linkedin.com/in/ronald785/" target="_blank">
                    <img src="/images/linkedin.svg" alt="icon Linkedin">
                </a>
                <p class="contact-paragraph">ronald785</p>
            </div>
            <div>
                <a href="https://github.com/ronald785" target="_blank">
                    <img src="/images/github.svg" alt="icon Github">
                </a>
                <p class="contact-paragraph">ronald785</p>
            </div>
            <div>
                <a href="mailto:ronaldmateus785@gmail.com" target="_blank">
                    <img src="/images/gmail.svg" alt="icon Gmail">
                </a>
                <p class="contact-paragraph">ronaldmateus785@gmail.com</p>
            </div>
            <div>
                <a href="https://goo.gl/maps/97mhU3N7xRKRPWCh9" target="_blank">
                    <img src="/images/maps.svg" alt="icon Google Maps">
                </a>
                <p class="contact-paragraph">Campinas - SP</p>
            </div>
        </div>
    </div>

    <button class="home"></button>
{% endblock content %}