{% extends "layout.njk" %}

{% block head %}
    <title>DoeAqui - Criação</title>
{% endblock head %}

{% block content %}
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/buttons.css">
    <link rel="stylesheet" href="/styles/view.css">

    <a href="javascript:void(0)" onClick="history.go(-1); return false;" class="btn-come-back">Voltar</a>

    <form method="POST" action="/point">
        {% include 'point/fields.njk' %}
        
        <button type="submit" class="primary-button">Salvar</button>
    </form>

    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkd4NEZEHNVV0rxWJ4p3-CAe9VwMHBM2Y"></script>

    <!-- Lib jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>  

    <script src="/scripts/mapCreate.js"></script>
{% endblock content %}