<fieldset>
    <legend>Dados</legend>

    <div class="input-block">
        <label for="name">Nome</label>
        <input name="name"  required value="{{ point.name }}"/>
    </div>

    <div class="input-block">
        <label for="about">Sobre</label>
        <textarea name="about" required >{{ point.about }}</textarea>
    </div>

    <div class="input-block">
        <label for="email">Email de contato</label>
        <input type="email" name="email" placeholder="centro@gmail.com" required value="{{ point.email }}"/>
    </div>

    <div class="input-block">
        <label for="site">Link do site</label>
        <input type="url" name="site" placeholder="https://" value="{{ point.site }}">
    </div>

    <div class="input-block">
        <label for="whatsapp">Número do Whatsapp</label>
        <input type="text" id="whatsapp" name="whatsapp" placeholder="(00) 9 0000-0000" value="{{ point.whatsapp }}"/>
    </div>

    <div class="input-block">
        <label for="cep">CEP</label>
        <input type="text" id="cep" placeholder="00000-000" />
    </div>

    <div class="input-block">
        <button type="button" class="primary-button" onclick="searchZipCode()">Buscar</button>
    </div>

    <div class="input-block">
        <label for="mapPoint">Selecione no mapa</label>
        <input type="hidden" id="locationLat" name="locationLat" required value="{{ point.location.lat }}">
        <input type="hidden" id="locationLng" name="locationLng" required value="{{ point.location.lng }}">
        <div class="map-point">
            <div id="mapPoint"></div> 
        </div>
    </div>

    <div class="input-block">
        <label for="photo">Foto</label>
        <input type="text" name="photo" placeholder="https://" required value="{{ point.photo }}"/>
    </div>

    <div class="input-block">
        <label for="open_hours">Horário de funcionamento</label>
        <input type="text" name="open_hours" placeholder="07:00-18:00" required value="{{ point.open_hours }}"/>
    </div>

    <div class="input-block">
        <label for="open_weekends ">Atende no fim de semana?</label>
        <input type="hidden" id="open_weekends" name="open_weekends" required value="{{ point.open_weekends }}"/>

        <div class="button-select">
            <button type="button" id="btnOpen" onclick="openOnWeekends()">Sim</button>
            <button type="button" id="btnNot" class="active" onclick="notOpenOnWeekends()">Não</button>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>Doações</legend>
    <div class="input-block">
        <label for="instructions">Instruções</label>
        <textarea name="instructions" required>{{ point.instructions }}</textarea>
    </div>
    <div class="input-block">
        <label for="instructions">Tipo de doação</label>
        <div class="type-donation-grid">
            <label class="container">
                <h3 class="title-donation-checkbox">Alimento</h3>
                {% if (point.donation).indexOf("food") > -1 %}
                    <input type="checkbox" name="donation" checked="checked" value="food">
                {% else %}
                    <input type="checkbox" name="donation" value="food">
                {% endif %}
                <span class="checkmark"></span>
            </label>
            <label class="container">
                <h3 class="title-donation-checkbox">Roupas</h3>
                {% if (point.donation).indexOf("clothes") > -1 %}
                    <input type="checkbox" name="donation" checked="checked" value="clothes">
                {% else %}
                    <input type="checkbox" name="donation" value="clothes">
                {% endif %}
                <span class="checkmark"></span>
            </label>
            <label class="container">
                <h3 class="title-donation-checkbox">Produtos de higiene</h3>
                {% if (point.donation).indexOf("hygiene") > -1 %}
                    <input type="checkbox" name="donation" checked="checked" value="hygiene">
                {% else %}
                    <input type="checkbox" name="donation" value="hygiene">
                {% endif %}
                <span class="checkmark"></span>
            </label>
            <label class="container">
                <h3 class="title-donation-checkbox">Sangue</h3>
                {% if (point.donation).indexOf("blood") > -1 %}
                    <input type="checkbox" name="donation" checked="checked" value="blood">
                {% else %}
                    <input type="checkbox" name="donation" value="blood">
                {% endif %}
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
</fieldset>